*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color:  black;
    display: block;
}

ul{
    list-style: none;
    
}

/*nav section*/
.nav-links{
    position: absolute;
    top: 0;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: yellow;
}

.menubtn, #x-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: none;
    color: whitesmoke;
}


.nav-links li{
    margin: 30px auto;
    font-size: 4vmin;
}
.ctn{
    background: red;
}
.cpn{
    background: black;
}
.ctn, .cpn{
    color: whitesmoke;
    width: 15vmin;
    display: block;
    height: auto;
    padding: 5px;
    font-size: 3.5vmin;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}
.logo{
    align-items: center;
    width: 40vmin;
}

.header{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    background-image: url(furnitureRental_files/couch.png);
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app{
  
    width: 40vmin;
    margin-top: 20%;
}
.download{
    width: 20vmin;
    height: 45px;
    font-size: 4vmin;
    text-align: center;
    border-radius: 10px;
    margin: 30px  auto;
    background: rgb(214, 168, 18);   
}


/*parting*/
.dot{
    display: flex;
    justify-content: space-between;
}


/*section*/
.services{
    margin: 50px auto;
}
.circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid rgb(211, 159, 61);
    margin: auto;
}
.row-services{
    display: flex;
    width: 90%;
    margin: auto;
}
.row-services .col{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.row-services p{
    font-size: 4.5vmin;
    max-width: 300px;
}
.row-services h1{
    font-size: 7vmin;   
}



/*section 2*/
.partners{
    margin: 50px auto;
    width: 90%;
}
.partners h1{
    text-align: center;
    font-size: 7vmin;
}
.partners p{
    font-size: 4.5vmin;
    margin-top:  20px;
    width: 100%;
    text-align: center;
}
.company{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.company img{
    width: 70px;
    height: 50px;
    margin: 10px ;
}



/*section 3*/
.prod{
    margin: 50px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.prod h1{
    font-size: 7vmin;
}
.prod p{
    font-size: 4.5vmin;
}
.prod img{
    width: 50%;

}
.prod .text{
    max-width: 500px;
}
.prod .cpn{
    margin: 10px 0;
}



/*Signature section*/
.signature{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      font-family: Arial, sans-serif;
}
.container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .container h2 {
    text-align: center;
  }
  .container input[type="text"],
  .container input[type="email"],
  .container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  .container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(214, 168, 18);
    
    color: #fff;
    cursor: pointer;
  }
  .container button[type="submit"], .download:hover {
    border: 3px solid black;
  }



@media only screen and (max-width:860px){
    .nav-bar{
        padding: 0;
    }
  
    .nav-links{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        margin-left: -1000px;
        background: rgb(114, 138, 75);
        transition: 1s;
        border-bottom-right-radius: 60px;
    }
    .mobile-menu{
        margin-left: 0px;
    }
    .menubtn{
        display: block;
    }
    .nav-links li{
       margin-top: 30px ;
    }


    .logo{
        position: fixed;
        top: 30px;
        left: 30px;
        align-items: left;
    }
    
    .ctn{
        color: white;
       
    }
    .cpn{
        color: white;
    }
    .row-services{
        flex-direction: column;
        margin: 50px auto;
    }
    .row-services .col{
        margin: 20px auto;
    }
    .dot{
        display: none;
    }
    .two{
        background: black;
    }
    .two h1{
        color: rgb(211, 159, 61);
        font-weight: bolder;
    }
    .two p{
        color: whitesmoke;
    }
    .two .company{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }
    .two img{
        background: white;
    }
    .three{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
}
